@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
}
